<div class="comment">
    <header class="comment-header">
        <span class="comment-owner"><%= comment.owner %></span>
        <span class="comment-dot">•</span>
        <span class="comment-date"><%= comment.date %></span>
    </header>
    <p class="comment-text"><%= comment.text %></p>
</div>