<%- include('partials/head', { title: 'Puslapis nerastas', activePage }) %>
<%- include('partials/header', { activePage }) %>

<h1>ERROR</h1>
<p>Something went wrong</p>
<p>Error: <%= error %></p>
<p>Go back to <a href="/">home</a></p>

<%- include('partials/footer') %>
