<%- include('partials/head', { title: 'Puslapis nerastas', activePage }) %>
<%- include('partials/header', { activePage }) %>

<div class="layout">
    <main class="content">
        <section class="section section-center">
            <h1>Prisijungimas</h1>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="email">El-pašto adresas</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Slaptažodis</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-gradient">Prisijungti</button>
            </form>
        </section>
    </main>
</div>

<%- include('partials/footer') %>